
@using System.Linq;
@using Newtonsoft.Json;
@*@model IEnumerable<results>*@

@{
    ViewBag.Title = "InPlay";
    Layout = "~/Views/_Betzazz.cshtml";
    string x = "";
}
<div class="content-body content-margins">
    <!-- Revenue, Hit Rate & Deals -->
    <div class="row">
        <div class="col-lg-12" style="padding-left:0px;padding-right:0px;">

            <div class="card inplay">
                @*This card for Cricket Inplay Events*@
                <h4 class="flex-row--title text-center">In-Play</h4>
                <div class="card-body my-card-body">

                    <div class="col col--xs-8 col--sm-10 col--md-10 col--lg-11">
                        <span class="flex-row--title text-left"><h4>Cricket</h4></span>

                        <div class="col col--xs-8 col--sm-10 col--md-4 col--lg-4 text-left eventbDiv">
                            @*<span class="caret"></span> <span></span>*@
                            <ul class="list-unstyled comments ">
                                <li class="active">
                                    <a href="#Testinplayview" data-toggle="collapse" aria-expanded="false">
                                        <div class="dropdown-center-settings"> @ViewBag.LeagueName  </div>
                                    </a>
                                    <ul class="collapse list-unstyled" id="Testinplayview">


                                        @for (int i = 0; i < ViewBag.ArrTestData.Length; i++)
                                        {

                                            <li>
                                                <button type="button" id="@ViewBag.Evntid[i]" class="btn  button1 col col--xs-8 col--sm-10 col--md-4 col--lg-4 text-left eventbDiv">
                                                    @ViewBag.ArrTestData[i]
                                                </button>
                                            </li>
                                        }
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="col col--xs-8 col--sm-10 col--md-4 col--lg-4 text-left eventbDiv">
                            <ul class="list-unstyled components ">
                                <li class="active">
                                    <a href="#Ondayinplayview" data-toggle="collapse" aria-expanded="false">
                                        <div class="dropdown-center-settings">  @ViewBag.T20LeagueName  </div>
                                    </a>
                                    <ul class="collapse list-unstyled" id="Ondayinplayview">
                                        @for (int j = 0; j < ViewBag.ArrT20Data.Length; j++)
                                        {
                                            <li>
                                                <button type="button" id="@ViewBag.T20EventId[j]" class="btn  button1 col col--xs-8 col--sm-10 col--md-4 col--lg-4 text-left eventbDiv">
                                                    @ViewBag.ArrT20Data[j]
                                                </button>
                                            </li>
                                        }
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="col col--xs-8 col--sm-10 col--md-4 col--lg-4 text-left eventbDiv">

                            <ul class="list-unstyled components ">
                                <li class="active">
                                    <a href="#ODI1inplayview" data-toggle="collapse" aria-expanded="false">
                                        <div class="dropdown-center-settings">  @ViewBag.ODILeagueName  </div>
                                    </a>
                                    <ul class="collapse list-unstyled" id="ODI1inplayview">
                                        @for (int k = 0; k < ViewBag.ArrODIData.Length; k++)
                                        {
                                            <li>
                                                <button type="button" id="@ViewBag.ODIEventId[k]" class="btn  button1 col col--xs-8 col--sm-10 col--md-4 col--lg-4 text-left eventbDiv">
                                                    @ViewBag.ArrODIData[k]
                                                </button>
                                            </li>
                                        }
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="col col--xs-8 col--sm-10 col--md-4 col--lg-4 text-left eventbDiv">

                            <ul class="list-unstyled components ">
                                <li class="active">
                                    <a href="#ODIinplayview" data-toggle="collapse" aria-expanded="false">
                                        <div class="dropdown-center-settings">  @ViewBag.ODILeagueName  </div>
                                    </a>
                                    <ul class="collapse list-unstyled" id="ODIinplayview">
                                        @for (int k = 0; k < ViewBag.ArrODIData.Length; k++)
                                        {
                                            <li>
                                                <button type="button" id="@ViewBag.ODIEventId[k]" class="btn  button1 col col--xs-8 col--sm-10 col--md-4 col--lg-4 text-left eventbDiv">
                                                    @ViewBag.ArrODIData[k]
                                                </button>
                                            </li>
                                        }
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="col col--xs-8 col--sm-10 col--md-4 col--lg-4 text-left eventbDiv">
                            <ul class="list-unstyled components ">
                                <li class="active">
                                    <a href="#ODI2inplayview" data-toggle="collapse" aria-expanded="false">
                                        <div class="dropdown-center-settings">  @ViewBag.ODILeagueName  </div>
                                    </a>
                                    <ul class="collapse list-unstyled" id="ODI2inplayview">
                                        @for (int k = 0; k < ViewBag.ArrODIData.Length; k++)
                                        {
                                            <li>
                                                <button type="button" id="@ViewBag.ODIEventId[k]" class="btn  button1 col col--xs-8 col--sm-10 col--md-4 col--lg-4 text-left eventbDiv">
                                                    @ViewBag.ArrODIData[k]
                                                </button>
                                            </li>
                                        }
                                    </ul>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>

                @*This card for Football Inplay Events*@
                <div class="card-body my-card-body">
                    <div class="col col--xs-8 col--sm-10 col--md-10 col--lg-11">
                        <span class="flex-row--title text-left"><h4>Football</h4></span>
                       @{ 
                           string leagueid;
                           int m = 0;
                           
                       }
                        @foreach (var result in ViewBag.LiveFT.results)
                        {
                                m = m + 1;
                            <div class="col col--xs-8 col--sm-10 col--md-4 col--lg-4 text-left eventbDiv">
                                @*<span class="caret"></span> <span></span>*@
                                <ul class="list-unstyled components ">
                                    <li class="active">
                                       
                                            <a href="#@m" data-toggle="collapse" aria-expanded="false">
                                                   <span> @result.league.name</span>
                                            </a>
                                        @{                                       
                                            Session["Lid"] = result.league.id;                                                                                      
                                            x =Session["Lid"].ToString();                                            
                                            string T1 = result.home.name;
                                            string T2 = result.away.name;

                                            <ul class="collapse list-unstyled" id="@m">
                                                <button type="button" id="@result.id" class="btn  button1 col col--xs-8 col--sm-10 col--md-4 col--lg-4 text-left eventbDiv">

                                                    @T1 VS @T2
                                                </button>
                                            </ul>

                                        }

                                    </li>
                                </ul>
                            </div>
                         }
                       
                        <div class="col col--xs-8 col--sm-10 col--md-4 col--lg-4 text-left eventbDiv">

                            <ul class="list-unstyled components ">
                                <li class="active">
                                    <a href="#FTT20inplayview" data-toggle="collapse" aria-expanded="false">
                                        Twenty 20
                                    </a>
                                    <ul class="collapse list-unstyled" id="FTT20inplayview">
                                        <li><a href="#">Home 1</a></li>
                                        <li><a href="#">Home 2</a></li>
                                        <li><a href="#">Home 3</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="col col--xs-8 col--sm-10 col--md-4 col--lg-4 text-left eventbDiv">

                            <ul class="list-unstyled components ">
                                <li class="active">
                                    <a href="#FTT20Intinplayview" data-toggle="collapse" aria-expanded="false">
                                        Twenty 20 Internationals
                                    </a>
                                    <ul class="collapse list-unstyled" id="FTT20Intinplayview">
                                        <li><a href="#">Home 1</a></li>
                                        <li><a href="#">Home 2</a></li>
                                        <li><a href="#">Home 3</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="col col--xs-8 col--sm-10 col--md-4 col--lg-4 text-left eventbDiv">
                            <ul class="list-unstyled components ">
                                <li class="active">
                                    <a href="#FTPLinplayview" data-toggle="collapse" aria-expanded="false">
                                        Premier league
                                    </a>
                                    <ul class="collapse list-unstyled" id="FTPLinplayview">
                                        <li><a href="#">Home 1</a></li>
                                        <li><a href="#">Home 2</a></li>
                                        <li><a href="#">Home 3</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>



                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script src="Scripts/jquery-1.4.1.js" type="text/javascript"></script>
<script id="sessionJs" type="text/javascript">


    function GetData() {


    }



    setTimeout(GetData, 3000);//change timeout duration here
</script>
