<!DOCTYPE html>
@using System.Collections;
@model betzazz1._1.ViewModels.AccountViewModel
<html lang="en">
<head>
    <title>@ViewBag.Title</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <link href="~/Content/css/header.css" rel="stylesheet" />
</head>

<body style="background-color:black;color:#ce870d">
    <!-- MODALS
    ================================================== -->
    <nav class="navbar navbar-inverse navbar-fixed-top " role="navigation">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 visible-lg visible-md ">
                    <div class="col-xs-2">

                        <a class="navbar-brand collapse navbar-collapse " id="bs-example-navbar-collapse-1" href="@Url.Action("Index","Default")"><img src="~/Content/assets/logo.png" /></a>



                    </div>

                    <div class="col-xs-8" style="line-height: 30px;">
                        <ul class="nav navbar-nav collapse navbar-collapse" style="margin-bottom: 0px;">
                            <li><a href="@Url.Action("Inplay","Events")">In-Play</a></li>
                            <li><a href="@Url.Action("PreMatch","Events")">Coming Soon</a></li>
                            <li><a href="#">Sports</a></li>
                            <li><a href="#">Games</a></li>
                        </ul>

                    </div>
                    @if (Session["UserNameRandomGen"] != null && Session["Password"] != null)
                    {

                        <div class="pull-right">
                            <div style="display: -webkit-inline-box;">
                                <span style="color:#d0a44d">@HttpContext.Current.Session["Currency"].ToString()</span>
                                &nbsp;<span style="color:#d0a44d"><b>@HttpContext.Current.Session["Balance"].ToString()</b></span><b style="color:#d0a44d">&nbsp;</b><br />
                                <span style="color:#d0a44d">&nbsp;&nbsp;<b>@HttpContext.Current.Session["UserName"].ToString()</b></span>&nbsp;&nbsp;&nbsp;
                            </div>
                            <span data-toggle="dropdown" data-hover="dropdown" style="cursor:pointer">
                                <button class="glyphicon glyphicon-user pull-right img-circle" style="background-color:black; font-size: 25px;padding:10px;color:#e49b1e"></button>
                            </span>
                            <ul class="dropdown-menu" style="background-color: #d0a44d;text-align: center;">
                                <li><a href="@Url.Action("UserProfile","Member")" style="cursor:pointer">Manage Profile</a></li>
                                <li><a href="@Url.Action("Bank","Member")" style="cursor:pointer">Manage Accounts</a></li>
                                <li><a href="@Url.Action("Bets","Member")" style="cursor:pointer">Manage Bets</a></li>

                                <hr>
                                @using (Html.BeginForm("Logout", "Events"))
                                {
                                    <li><span style="cursor:pointer"> <input type="submit" value="Logout" class="btn btn-success" style="background-color:black;border-color:#d0a44d" /></span></li>
                                }
                            </ul>
                        </div>




                    }
                    else
                    {
                        <div class="col-xs-2 collapse navbar-collapse pull-right" style="line-height: 30px;">
                            <span data-toggle="dropdown" data-hover="dropdown"><button class="glyphicon glyphicon-user pull-right img-circle" style="background-color:black; font-size: 25px;padding:10px;color:#e49b1e"></button></span>
                            <ul class="dropdown-menu" style="background-color:#333; text-align:center">
                                <li><span data-toggle="modal" data-target="#modalLoginForm" style="cursor:pointer">LOG IN</span></li>
                                <li><span data-toggle="modal" data-target="#modalRegisterForm" style="cursor:pointer"> REGISTER</span></li>
                            </ul>

                        </div>

                    }
                </div>
            </div>


            <!-- Collect the nav links, forms, and other content for toggling -->
            <!-- /.navbar-collapse -->
        </div>  <!-- /.container-fluid -->
        <!-- Mobile Navbar Start -->

        <div class="visible-xs  visible-sm text-center" style="align-items:center">
            <div class="pull-left">
                <button type="button" class=" btn btn-info navbar-btn" data-toggle="modal" data-target="#myModal" style="margin-top: 13px;">
                    <i class="glyphicon glyphicon-align-left"></i>
                </button>
            </div>
            <span class="text-center" style="margin-bottom:-10px;margin-top:7px;">
                <span class="visible-sm"><a href="@Url.Action("Index","Default")"><img class="center-block" src="~/Content/assets/logo.png" /></a></span>
                <div class="visible-xs" style="padding-left:60px"><a href="@Url.Action("Index","Default")"><img class="center-block" src="~/Content/assets/mlogo.png" /></a></div>

            </span>

            @if (Session["UserNameRandomGen"] != null && Session["Password"] != null)
            {

                <div class="pull-right" style="display:flex;font-size:10px;">
                    <div style="display:-webkit-inline-box;">
                        <span class="my-balncshow"><b>@HttpContext.Current.Session["Currency"].ToString()</b></span>
                        <span class="my-balncshow"><b>@HttpContext.Current.Session["Balance"].ToString()</b></span><br />
                        <span><b>@HttpContext.Current.Session["UserName"].ToString()</b></span>

                    </div>

                    <span data-toggle="dropdown" style="padding:5px"><button class="glyphicon glyphicon-user img-circle" style="background-color:black; font-size: 10px;padding:10px;color:#e49b1e"></button></span>

                    <ul class="dropdown-menu my-dropdown-menu" style="background-color:#333;text-align:center">
                        <li><span style="cursor:pointer"><a href="@Url.Action("UserProfile","Member")" style="cursor:pointer">Manage Profile</a></span></li>
                        <li><span style="cursor:pointer"> <a href="@Url.Action("Bank","Member")" style="cursor:pointer">Manage Bank</a></span></li>
                        <li><span style="cursor:pointer"> <a href="@Url.Action("Bets","Member")" style="cursor:pointer">Manage Bets</a></span></li>
                        <hr>
                        @using (Html.BeginForm("Logout", "Events"))
                        {
                            <li><span style="cursor:pointer"> <input type="submit" value="Logout" class="btn btn-success" style="background-color:black;border-color:#d0a44d" /></span></li>
                        }
                    </ul>
                </div>
            }
            else
            {
                
                <div class="pull-right" style=" padding:10px;">
                    <span data-toggle="dropdown" data-hover="dropdown"><button class="glyphicon glyphicon-user img-circle" style="background-color:black; font-size: 10px;padding:10px;color:#e49b1e"></button></span>

                    <ul class="dropdown-menu my-dropdown-menu" style="background-color:#333;text-align:center">
                        <li><span data-toggle="modal" data-target="#modalLoginForm" style="cursor:pointer">LOG IN</span></li>
                        <li><span data-toggle="modal" data-target="#modalRegisterForm" style="cursor:pointer"> REGISTER</span></li>
                    </ul>
                </div>
            }
        </div>


        <hr style="background-color:#ce870d;margin-top: 0px; margin-bottom: 0;width:100%;">
        <div class="visible-xs visible-sm text-center">
            <ul class="nav navbar-nav my-nav" style="margin-top:-10px;">
                <li><a href="@Url.Action("Inplay","Events")">In-Play</a></li>
                <li><a href="@Url.Action("PreMatch","Events")">Coming-Soon</a></li>
                <li><a href="#">Sports</a></li>
                <li><a href="#">Games</a></li>
            </ul>
        </div>

        <hr style="background-color:#ce870d;margin-top: 0px; margin-bottom: 0;width:100%;">
        <div class="scrollmenu" style="align-items:center">
            <ul class="nav navbar-nav my-nav">
                <li class="#" style="color:#ce870d"><a href="#">Sports</a></li>
                <li><a href="@Url.Action("Inplay","Events")">Live</a></li>
                <li><a href="@Url.Action("Inplay","Football")">Football</a></li>
                <li><a href="@Url.Action("Inplay","Cricket")">Cricket</a></li>
                <li><a href="@Url.Action("Inplay","Tennis")">Tennis</a></li>
                <li><a href="@Url.Action("Bank","Member")">Virtual Sport</a></li>
                <li><a href="@Url.Action("UserProfile","Member")">Tournaments</a></li>
                <li><a href="@Url.Action("Bets","Member")">Games</a></li>
                <li><a href="#">Fantasy Sport</a></li>
                <li><a href="#">Finebet</a></li>
                <li><a href="#">Casino</a></li>

            </ul>
        </div>
    </nav>

    <div class="row">


        <div class="col-sm-2 visible-lg visible-md padding-left-pane">
            <div class="wrapper hidden-xs body my-scrollbar-settings">
                <!-- Sidebar Holder -->
                <nav id="sidebar">
                    <div class="sidebar-header">

                        <div id="inline" style="display: -webkit-box;border:none;">

                            <select class="form-control my-form-control" style="border-radius:unset;">
                                <option>Asian</option>
                                <option>Modern</option>
                                <option>Classic</option>
                                <option>Combo</option>
                                <option>Latest</option>
                            </select>

                            <select class="form-control my-form-control" style="border-radius:unset;">
                                <option>Decimal</option>
                                <option>Fraction</option>
                                <option>American</option>
                                <option>China</option>
                                <option>indo</option>
                            </select>

                        </div>

                        <div class="tab-setting-sidebar">
                            <div class="tab">
                                <button class="tablinks" id="defaultOpen" onclick="openEvent(event, 'Live')" style="border-style:none;">Live</button>
                                <button class="tablinks" onclick="openEvent(event, 'prematch')" style="border-style:none;">Future</button>
                                <button class="tablinks" onclick="openEvent(event, 'TodayMatch')" style="border-style:none;">Today</button>

                            </div>
                        </div>
                    </div>
                    @*Side Baar list for InPlay*@
                    <ul class="list-unstyled components tabcontent" id="Live">
                        <li class="active">
                            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">
                                <i class="glyphicon glyphicon-home"></i>
                                Cricket <span class="pull-right" style="padding-right:20px;">@Session["CRTotalEvent"]</span>
                            </a>
                            <ul class="collapse list-unstyled" id="homeSubmenu">
                                <li>
                                    <a href="#TestEvent" data-toggle="collapse" aria-expanded="false">
                                        <span style="font-size:14px;font-weight:bold;">@HttpContext.Current.Session["LeagueName"].ToString()  </span>
                                        <span class="pull-right" style="padding-right:20px">@Session["TestCount"]</span>
                                    </a>
                                    <ul class="collapse list-unstyled" id="TestEvent">
                                        @if (Session["TstEventName"].ToString() != null)
                                        {
                                            ArrayList EventList = (ArrayList)Session["TstEventName"];
                                            ArrayList EventId = (ArrayList)Session["Evntid"];

                                            for (int i = 0; i < EventList.Count; i++)
                                            {
                                                <li>
                                                    <button type="button" onclick="show('myDiv1')" id="@EventId[i]" style="white-space: inherit;height:auto" class="btn  button1 col col--xs-8 col--sm-10 col--md-4 col--lg-4 text-left eventbDiv">
                                                        @EventList[i]
                                                    </button>
                                                </li>
                                            }
                                        }
                                    </ul>
                                </li>
                                <li>
                                    <a href="#T20Event" data-toggle="collapse" aria-expanded="false">
                                        <span style="font-size:14px;font-weight:bold;">  @HttpContext.Current.Session["T20LeagueName"].ToString()  </span>
                                        <span class="pull-right" style="padding-right:20px">@Session["T20Count"]</span>
                                    </a>
                                    <ul class="collapse list-unstyled" id="T20Event">
                                        @if (Session["T20EventName"].ToString() != null)
                                        {
                                            ArrayList T20EventList = (ArrayList)Session["T20EventName"];
                                            ArrayList T20EventId = (ArrayList)Session["T20Evntid"];

                                            for (int i = 0; i < T20EventList.Count; i++)
                                            {
                                                <li>
                                                    <button type="button" onclick="show('myDiv')" id="@T20EventId[i]" style="white-space: inherit;height:auto" class="btn  button1 col col--xs-8 col--sm-10 col--md-4 col--lg-4 text-left eventbDiv">
                                                        @T20EventList[i]
                                                    </button>
                                                </li>
                                            }
                                        }
                                    </ul>
                                </li>
                                <li>
                                    <a href="#ODIEvent" data-toggle="collapse" aria-expanded="false">
                                        <span style="font-size:14px;font-weight:bold;">  @HttpContext.Current.Session["ODILeagueName"].ToString()   </span>
                                        <span class="pull-right" style="padding-right:20px">@Session["ODICount"]</span>
                                    </a>
                                    <ul class="collapse list-unstyled" id="ODIEvent">
                                        @if (Session["ODIEventName"].ToString() != null)
                                        {
                                            ArrayList ODIEventList = (ArrayList)Session["ODIEventName"];
                                            ArrayList ODIEventId = (ArrayList)Session["ODIEvntid"];

                                            for (int i = 0; i < ODIEventList.Count; i++)
                                            {
                                                <li>
                                                    <button type="button" onclick="show('myDiv1')" id="@ODIEventId[i]" style="white-space: inherit;height:auto" class="btn  button1 col col--xs-8 col--sm-10 col--md-4 col--lg-4 text-left eventbDiv">
                                                        @ODIEventList[i]
                                                    </button>
                                                </li>
                                            }
                                        }
                                    </ul>
                                </li>
                                <li><a href="#">International One Day <span class="pull-right"></span></a></li>
                                <li><a href="#">Premium League</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#football" data-toggle="collapse" aria-expanded="false">
                                <i class="glyphicon glyphicon-briefcase"></i>
                                Footbaal
                            </a>
                            <ul class="collapse list-unstyled" id="football">
                                <li><a href="#">Page 1</a></li>
                                <li><a href="#">Page 2</a></li>
                                <li><a href="#">Page 3</a></li>
                            </ul>
                            <a href="#tennie" data-toggle="collapse" aria-expanded="false">
                                <i class="glyphicon glyphicon-duplicate"></i>
                                Tennis
                            </a>
                            <ul class="collapse list-unstyled" id="tennie">
                                <li><a href="#">Page 1</a></li>
                                <li><a href="#">Page 2</a></li>
                                <li><a href="#">Page 3</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="#casino" data-toggle="collapse" aria-expanded="false">
                                <i class="glyphicon glyphicon-link"></i>
                                Casino
                            </a>
                            <ul class="collapse list-unstyled" id="casino">
                                <li><a href="#">Casino is comming Soon</a></li>
                                @*<li><a href="#">Page 2</a></li>
                    <li><a href="#">Page 3</a></li>*@
                            </ul>
                        </li>
                        <li>
                            <a href="#baseball" data-toggle="collapse" aria-expanded="false">
                                <i class="glyphicon glyphicon-link"></i>
                                Badmintion
                            </a>
                            <ul class="collapse list-unstyled" id="baseball">
                                <li><a href="#">Baseball is comming Soon</a></li>
                                @*<li><a href="#">Page 2</a></li>
                    <li><a href="#">Page 3</a></li>*@
                            </ul>
                        </li>
                        <li>
                            <a href="#hocky" data-toggle="collapse" aria-expanded="false">
                                <i class="glyphicon glyphicon-link"></i>
                                Ice Hocky
                            </a>
                            <ul class="collapse list-unstyled" id="hocky">
                                <li><a href="#"> Ice Hocky is comming Soon</a></li>
                                @*<li><a href="#">Page 2</a></li>
                    <li><a href="#">Page 3</a></li>*@
                            </ul>
                        </li>
                        <li>
                            <a href="#Basketball" data-toggle="collapse" aria-expanded="false">
                                <i class="glyphicon glyphicon-link"></i>
                                Basket Ball
                            </a>
                            <ul class="collapse list-unstyled" id="Basketball">
                                <li><a href="#">  BasketBall is comming Soon</a></li>
                                @*<li><a href="#">Page 2</a></li>
                    <li><a href="#">Page 3</a></li>*@
                            </ul>
                        </li>
                        <li>
                            <a href="#TableTennis" data-toggle="collapse" aria-expanded="false">
                                <i class="glyphicon glyphicon-link"></i>
                                Table Tennis
                            </a>
                            <ul class="collapse list-unstyled" id="TableTennis">
                                <li><a href="#"> Table Tennis is comming Soon</a></li>
                                @*<li><a href="#">Page 2</a></li>
                    <li><a href="#">Page 3</a></li>*@
                            </ul>
                        </li>
                        <li>
                            <a href="#badminton" data-toggle="collapse" aria-expanded="false">
                                <i class="glyphicon glyphicon-link"></i>
                                Badminton
                            </a>
                            <ul class="collapse list-unstyled" id="badminton">
                                <li><a href="#"> Badmin is comming Soon</a></li>
                                @*<li><a href="#">Page 2</a></li>
                    <li><a href="#">Page 3</a></li>*@
                            </ul>
                        </li>
                    </ul>
                    @*Side Baar list for Pre Match*@
                    <ul class="list-unstyled components tabcontent" id="prematch">
                        <li class="active">
                            <a href="#prhomeSubmenu" data-toggle="collapse" aria-expanded="false">
                                <i class="glyphicon glyphicon-home"></i>
                                Cricket <span class="pull-right" style="padding-right:20px;"></span>
                            </a>
                            <ul class="collapse list-unstyled" id="prhomeSubmenu">
                                <li>
                                    <a href="#prTestEvent" data-toggle="collapse" aria-expanded="false">
                                        <span style="font-size:14px;font-weight:bold;">Test  </span>
                                        <span class="pull-right" style="padding-right:20px"></span>
                                    </a>
                                    <ul class="collapse list-unstyled" id="prTestEvent">
                                        @*@if (Session["TstEventName"].ToString() != null)
                            {
                                ArrayList EventList = (ArrayList)Session["TstEventName"];
                                ArrayList EventId = (ArrayList)Session["Evntid"];

                                for (int i = 0; i < EventList.Count; i++)
                                {
                                    <li>
                                        <button type="button" id="@EventId[i]" style="white-space: inherit;height:auto" class="btn  button1 col col--xs-8 col--sm-10 col--md-4 col--lg-4 text-left eventbDiv">
                                            @EventList[i]
                                        </button>
                                    </li>
                                }
                            }*@
                                    </ul>
                                </li>
                                <li>
                                    <a href="#T20Event" data-toggle="collapse" aria-expanded="false">
                                        <span style="font-size:14px;font-weight:bold;"> T20 @*@HttpContext.Current.Session["T20LeagueName"].ToString()*@  </span>
                                        <span class="pull-right" style="padding-right:20px">@*@Session["T20Count"]*@</span>
                                    </a>
                                    <ul class="collapse list-unstyled" id="prT20Event">
                                        @*@if (Session["T20EventName"].ToString() != null)
                            {
                                ArrayList T20EventList = (ArrayList)Session["T20EventName"];
                                ArrayList T20EventId = (ArrayList)Session["T20Evntid"];

                                for (int i = 0; i < T20EventList.Count; i++)
                                {
                                    <li>
                                        <button type="button" id="@T20EventId[i]" style="white-space: inherit;height:auto" class="btn  button1 col col--xs-8 col--sm-10 col--md-4 col--lg-4 text-left eventbDiv">
                                            @T20EventList[i]
                                        </button>
                                    </li>
                                }
                            }*@
                                    </ul>
                                </li>
                                <li>
                                    <a href="#prODIEvent" data-toggle="collapse" aria-expanded="false">
                                        <span style="font-size:14px;font-weight:bold;"> ODI @*@HttpContext.Current.Session["ODILeagueName"].ToString()*@   </span>
                                        <span class="pull-right" style="padding-right:20px">@*@Session["ODICount"]*@</span>
                                    </a>
                                    <ul class="collapse list-unstyled" id="prODIEvent">
                                        @*@if (Session["ODIEventName"].ToString() != null)
                            {
                                ArrayList ODIEventList = (ArrayList)Session["ODIEventName"];
                                ArrayList ODIEventId = (ArrayList)Session["ODIEvntid"];

                                for (int i = 0; i < ODIEventList.Count; i++)
                                {
                                    <li>
                                        <button type="button" id="@ODIEventId[i]" style="white-space: inherit;height:auto" class="btn  button1 col col--xs-8 col--sm-10 col--md-4 col--lg-4 text-left eventbDiv">
                                            @ODIEventList[i]
                                        </button>
                                    </li>
                                }
                            }*@
                                    </ul>
                                </li>
                                <li><a href="#">International One Day <span class="pull-right"></span></a></li>
                                <li><a href="#">Premium League</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#prfootball" data-toggle="collapse" aria-expanded="false">
                                <i class="glyphicon glyphicon-briefcase"></i>
                                Footbaal
                            </a>
                            <ul class="collapse list-unstyled" id="prfootball">
                                <li><a href="#">Page 1</a></li>
                                <li><a href="#">Page 2</a></li>
                                <li><a href="#">Page 3</a></li>
                            </ul>
                            <a href="#prtennie" data-toggle="collapse" aria-expanded="false">
                                <i class="glyphicon glyphicon-duplicate"></i>
                                Tennis
                            </a>
                            <ul class="collapse list-unstyled" id="prtennie">
                                <li><a href="#">Page 1</a></li>
                                <li><a href="#">Page 2</a></li>
                                <li><a href="#">Page 3</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="#prcasino" data-toggle="collapse" aria-expanded="false">
                                <i class="glyphicon glyphicon-link"></i>
                                Casino
                            </a>
                            <ul class="collapse list-unstyled" id="prcasino">
                                <li><a href="#">Casino is comming Soon</a></li>
                                @*<li><a href="#">Page 2</a></li>
                    <li><a href="#">Page 3</a></li>*@
                            </ul>
                        </li>
                        <li>
                            <a href="#prbaseball" data-toggle="collapse" aria-expanded="false">
                                <i class="glyphicon glyphicon-link"></i>
                                Badmintion
                            </a>
                            <ul class="collapse list-unstyled" id="prbaseball">
                                <li><a href="#">Baseball is comming Soon</a></li>
                                @*<li><a href="#">Page 2</a></li>
                    <li><a href="#">Page 3</a></li>*@
                            </ul>
                        </li>
                        <li>
                            <a href="#prhocky" data-toggle="collapse" aria-expanded="false">
                                <i class="glyphicon glyphicon-link"></i>
                                Ice Hocky
                            </a>
                            <ul class="collapse list-unstyled" id="prhocky">
                                <li><a href="#"> Ice Hocky is comming Soon</a></li>
                                @*<li><a href="#">Page 2</a></li>
                    <li><a href="#">Page 3</a></li>*@
                            </ul>
                        </li>
                        <li>
                            <a href="#prBasketball" data-toggle="collapse" aria-expanded="false">
                                <i class="glyphicon glyphicon-link"></i>
                                Basket Ball
                            </a>
                            <ul class="collapse list-unstyled" id="prBasketball">
                                <li><a href="#">  BasketBall is comming Soon</a></li>
                                @*<li><a href="#">Page 2</a></li>
                    <li><a href="#">Page 3</a></li>*@
                            </ul>
                        </li>
                        <li>
                            <a href="#prTableTennis" data-toggle="collapse" aria-expanded="false">
                                <i class="glyphicon glyphicon-link"></i>
                                Table Tennis
                            </a>
                            <ul class="collapse list-unstyled" id="prTableTennis">
                                <li><a href="#"> Table Tennis is comming Soon</a></li>
                                @*<li><a href="#">Page 2</a></li>
                    <li><a href="#">Page 3</a></li>*@
                            </ul>
                        </li>
                        <li>
                            <a href="#prbadminton" data-toggle="collapse" aria-expanded="false">
                                <i class="glyphicon glyphicon-link"></i>
                                Badminton
                            </a>
                            <ul class="collapse list-unstyled" id="prbadminton">
                                <li><a href="#"> Badmin is comming Soon</a></li>
                                @*<li><a href="#">Page 2</a></li>
                    <li><a href="#">Page 3</a></li>*@
                            </ul>
                        </li>
                    </ul>
                    @*Side Baar list for Today*@
                    <ul class="list-unstyled components tabcontent" id="TodayMatch">
                        <li class="active">
                            <a href="#prhomeSubmenu" data-toggle="collapse" aria-expanded="false">
                                <i class="glyphicon glyphicon-home"></i>
                                Cricket <span class="pull-right" style="padding-right:20px;"></span>
                            </a>
                            <ul class="collapse list-unstyled" id="prhomeSubmenu">
                                <li>
                                    <a href="#prTestEvent" data-toggle="collapse" aria-expanded="false">
                                        <span style="font-size:14px;font-weight:bold;">Test  </span>
                                        <span class="pull-right" style="padding-right:20px"></span>
                                    </a>
                                    <ul class="collapse list-unstyled" id="prTestEvent">
                                        @*@if (Session["TstEventName"].ToString() != null)
                            {
                                ArrayList EventList = (ArrayList)Session["TstEventName"];
                                ArrayList EventId = (ArrayList)Session["Evntid"];

                                for (int i = 0; i < EventList.Count; i++)
                                {
                                    <li>
                                        <button type="button" id="@EventId[i]" style="white-space: inherit;height:auto" class="btn  button1 col col--xs-8 col--sm-10 col--md-4 col--lg-4 text-left eventbDiv">
                                            @EventList[i]
                                        </button>
                                    </li>
                                }
                            }*@
                                    </ul>
                                </li>
                                <li>
                                    <a href="#T20Event" data-toggle="collapse" aria-expanded="false">
                                        <span style="font-size:14px;font-weight:bold;"> T20 @*@HttpContext.Current.Session["T20LeagueName"].ToString()*@  </span>
                                        <span class="pull-right" style="padding-right:20px">@*@Session["T20Count"]*@</span>
                                    </a>
                                    <ul class="collapse list-unstyled" id="prT20Event">
                                        @*@if (Session["T20EventName"].ToString() != null)
                            {
                                ArrayList T20EventList = (ArrayList)Session["T20EventName"];
                                ArrayList T20EventId = (ArrayList)Session["T20Evntid"];

                                for (int i = 0; i < T20EventList.Count; i++)
                                {
                                    <li>
                                        <button type="button" id="@T20EventId[i]" style="white-space: inherit;height:auto" class="btn  button1 col col--xs-8 col--sm-10 col--md-4 col--lg-4 text-left eventbDiv">
                                            @T20EventList[i]
                                        </button>
                                    </li>
                                }
                            }*@
                                    </ul>
                                </li>
                                <li>
                                    <a href="#prODIEvent" data-toggle="collapse" aria-expanded="false">
                                        <span style="font-size:14px;font-weight:bold;"> ODI @*@HttpContext.Current.Session["ODILeagueName"].ToString()*@   </span>
                                        <span class="pull-right" style="padding-right:20px">@*@Session["ODICount"]*@</span>
                                    </a>
                                    <ul class="collapse list-unstyled" id="prODIEvent">
                                        @*@if (Session["ODIEventName"].ToString() != null)
                            {
                                ArrayList ODIEventList = (ArrayList)Session["ODIEventName"];
                                ArrayList ODIEventId = (ArrayList)Session["ODIEvntid"];

                                for (int i = 0; i < ODIEventList.Count; i++)
                                {
                                    <li>
                                        <button type="button" id="@ODIEventId[i]" style="white-space: inherit;height:auto" class="btn  button1 col col--xs-8 col--sm-10 col--md-4 col--lg-4 text-left eventbDiv">
                                            @ODIEventList[i]
                                        </button>
                                    </li>
                                }
                            }*@
                                    </ul>
                                </li>
                                <li><a href="#">International One Day <span class="pull-right"></span></a></li>
                                <li><a href="#">Premium League</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#prfootball" data-toggle="collapse" aria-expanded="false">
                                <i class="glyphicon glyphicon-briefcase"></i>
                                Footbaal
                            </a>
                            <ul class="collapse list-unstyled" id="prfootball">
                                <li><a href="#">Page 1</a></li>
                                <li><a href="#">Page 2</a></li>
                                <li><a href="#">Page 3</a></li>
                            </ul>
                            <a href="#prtennie" data-toggle="collapse" aria-expanded="false">
                                <i class="glyphicon glyphicon-duplicate"></i>
                                Tennis
                            </a>
                            <ul class="collapse list-unstyled" id="prtennie">
                                <li><a href="#">Page 1</a></li>
                                <li><a href="#">Page 2</a></li>
                                <li><a href="#">Page 3</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="#prcasino" data-toggle="collapse" aria-expanded="false">
                                <i class="glyphicon glyphicon-link"></i>
                                Casino
                            </a>
                            <ul class="collapse list-unstyled" id="prcasino">
                                <li><a href="#">Casino is comming Soon</a></li>
                                @*<li><a href="#">Page 2</a></li>
                    <li><a href="#">Page 3</a></li>*@
                            </ul>
                        </li>
                        <li>
                            <a href="#prbaseball" data-toggle="collapse" aria-expanded="false">
                                <i class="glyphicon glyphicon-link"></i>
                                Badmintion
                            </a>
                            <ul class="collapse list-unstyled" id="prbaseball">
                                <li><a href="#">Baseball is comming Soon</a></li>
                                @*<li><a href="#">Page 2</a></li>
                    <li><a href="#">Page 3</a></li>*@
                            </ul>
                        </li>
                        <li>
                            <a href="#prhocky" data-toggle="collapse" aria-expanded="false">
                                <i class="glyphicon glyphicon-link"></i>
                                Ice Hocky
                            </a>
                            <ul class="collapse list-unstyled" id="prhocky">
                                <li><a href="#"> Ice Hocky is comming Soon</a></li>
                                @*<li><a href="#">Page 2</a></li>
                    <li><a href="#">Page 3</a></li>*@
                            </ul>
                        </li>
                        <li>
                            <a href="#prBasketball" data-toggle="collapse" aria-expanded="false">
                                <i class="glyphicon glyphicon-link"></i>
                                Basket Ball
                            </a>
                            <ul class="collapse list-unstyled" id="prBasketball">
                                <li><a href="#">  BasketBall is comming Soon</a></li>
                                @*<li><a href="#">Page 2</a></li>
                    <li><a href="#">Page 3</a></li>*@
                            </ul>
                        </li>
                        <li>
                            <a href="#prTableTennis" data-toggle="collapse" aria-expanded="false">
                                <i class="glyphicon glyphicon-link"></i>
                                Table Tennis
                            </a>
                            <ul class="collapse list-unstyled" id="prTableTennis">
                                <li><a href="#"> Table Tennis is comming Soon</a></li>
                                @*<li><a href="#">Page 2</a></li>
                    <li><a href="#">Page 3</a></li>*@
                            </ul>
                        </li>
                        <li>
                            <a href="#prbadminton" data-toggle="collapse" aria-expanded="false">
                                <i class="glyphicon glyphicon-link"></i>
                                Badminton
                            </a>
                            <ul class="collapse list-unstyled" id="prbadminton">
                                <li><a href="#"> Badmin is comming Soon</a></li>
                                @*<li><a href="#">Page 2</a></li>
                    <li><a href="#">Page 3</a></li>*@
                            </ul>
                        </li>
                    </ul>
                </nav>
                <!-- Page Content Holder -->

            </div>
        </div>
        <!-- left Modal Starting from Here for mobile only-->
        <div class=" container visible-xs visible-sm">


            <div class="modal left fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Left Sidebar</h4>
                        </div>
                        <div id="inline" style="display: -webkit-box;border:none;">

                            <select class="form-control my-form-control" style="border-radius:unset;">
                                <option>Asian</option>
                                <option>Modern</option>
                                <option>Classic</option>
                                <option>Combo</option>
                                <option>Latest</option>
                            </select>

                            <select class="form-control my-form-control" style="border-radius:unset;">
                                <option>Decimal</option>
                                <option>Fraction</option>
                                <option>American</option>
                                <option>China</option>
                                <option>indo</option>
                            </select>

                        </div>
                        <div class="tab-setting-sidebar">
                            <div class="tab">
                                <button class="tablinks" id="defaultOpen" onclick="openEvent(event, 'Live1')" style="border-style:none;">Live</button>
                                <button class="tablinks" onclick="openEvent(event, 'prematch1')" style="border-style:none;">Future</button>
                                <button class="tablinks" onclick="openEvent(event, 'today1')" style="border-style:none;">Today</button>
                            </div>
                        </div>

                        <ul class="list-unstyled components tabcontent" id="Live1" style="padding: 10px">
                            <li class="active">
                                <div class="eventbDiv">
                                    <a href="#CricketMenu" data-toggle="collapse" aria-expanded="false">
                                        <i class="glyphicon glyphicon-home my-giphyicon"></i>
                                        Cricket <span class="pull-right" style="padding-right:20px;">@Session["CRTotalEvent"]</span>
                                    </a>
                                    <ul class="collapse list-unstyled" id="CricketMenu">
                                        <li>
                                            <a href="#MTestEvent" data-toggle="collapse" aria-expanded="false">
                                                <span style="font-size:12px;font-weight:bold;">@HttpContext.Current.Session["LeagueName"].ToString()  </span>
                                                <span class="pull-right" style="padding-right:20px">@Session["TestCount"]</span>
                                            </a>
                                            <ul class="collapse list-unstyled" id="MTestEvent">
                                                @if (Session["TstEventName"].ToString() != null)
                                                {
                                                    ArrayList EventList = (ArrayList)Session["TstEventName"];
                                                    ArrayList EventId = (ArrayList)Session["Evntid"];

                                                    for (int i = 0; i < EventList.Count; i++)
                                                    {
                                                        <li>
                                                            <button type="button" onclick="show('myDiv1')" id="@EventId[i]" style="white-space: inherit;height:auto;font-size:10px;font-weight:bold" class="btn  button1 col col--xs-8 col--sm-10 col--md-4 col--lg-4 text-left eventbDiv">
                                                                @EventList[i]
                                                            </button>
                                                        </li>
                                                    }
                                                }
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#MT20Event" data-toggle="collapse" aria-expanded="false">
                                                <span style="font-size:12px;font-weight:bold;">  @HttpContext.Current.Session["T20LeagueName"].ToString()  </span>
                                                <span class="pull-right" style="padding-right:20px">@Session["T20Count"]</span>
                                            </a>
                                            <ul class="collapse list-unstyled" id="MT20Event">
                                                @if (Session["T20EventName"].ToString() != null)
                                                {
                                                    ArrayList T20EventList = (ArrayList)Session["T20EventName"];
                                                    ArrayList T20EventId = (ArrayList)Session["T20Evntid"];

                                                    for (int i = 0; i < T20EventList.Count; i++)
                                                    {
                                                        <li>
                                                            <button type="button" onclick="show('myDiv1')" id="@T20EventId[i]" style="white-space: inherit;height:auto;font-size:10px;font-weight:bold" class="btn  button1 col col--xs-8 col--sm-10 col--md-4 col--lg-4 text-left eventbDiv">
                                                                @T20EventList[i]
                                                            </button>
                                                        </li>
                                                    }
                                                }
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#MODIEvent" data-toggle="collapse" aria-expanded="false">
                                                <span style="font-size:12px;font-weight:bold;">  @HttpContext.Current.Session["ODILeagueName"].ToString()   </span>
                                                <span class="pull-right" style="padding-right:20px">@Session["ODICount"]</span>
                                            </a>
                                            <ul class="collapse list-unstyled" id="MODIEvent">
                                                @if (Session["ODIEventName"].ToString() != null)
                                                {
                                                    ArrayList ODIEventList = (ArrayList)Session["ODIEventName"];
                                                    ArrayList ODIEventId = (ArrayList)Session["ODIEvntid"];

                                                    for (int i = 0; i < ODIEventList.Count; i++)
                                                    {
                                                        <li>
                                                            <button type="button" onclick="show('myDiv')"  id="@ODIEventId[i]" style="white-space: inherit;height:auto;font-size:10px;font-weight:bold" class="btn  button1 col col--xs-8 col--sm-10 col--md-4 col--lg-4 text-left eventbDiv">
                                                                @ODIEventList[i]
                                                            </button>
                                                        </li>
                                                    }
                                                }
                                            </ul>
                                        </li>
                                        <li><a href="#">Premium League</a></li>
                                    </ul>
                                </div>
                            </li>

                            <li>
                                <div class="eventbDiv">
                                    <a href="#FootballMenu" data-toggle="collapse" aria-expanded="false">
                                        <i class="glyphicon glyphicon-briefcase my-giphyicon"></i>
                                        FootBall
                                    </a>
                                    <ul class="collapse list-unstyled" id="FootballMenu">
                                        <li><a href="#">Test</a></li>
                                        <li><a href="#">T20</a></li>
                                        <li><a href="#">International One Day</a></li>
                                        <li><a href="#">Premium League</a></li>
                                    </ul>
                                </div>
                            </li>

                            <li>
                                <div class="eventbDiv">
                                    <a href="#TennisMenu" data-toggle="collapse" aria-expanded="false">
                                        <i class="glyphicon glyphicon-duplicate my-giphyicon"></i>
                                        Tennis
                                    </a>
                                    <ul class="collapse list-unstyled" id="TennisMenu">
                                        <li><a href="#">Test</a></li>
                                        <li><a href="#">T20</a></li>
                                        <li><a href="#">International One Day</a></li>
                                        <li><a href="#">Premium League</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div class="eventbDiv">
                                    <a href="#TennisMenu" data-toggle="collapse" aria-expanded="false">
                                        <i class="glyphicon glyphicon-duplicate my-giphyicon"></i>
                                        Tennis
                                    </a>
                                    <ul class="collapse list-unstyled" id="TennisMenu">
                                        <li><a href="#">Test</a></li>
                                        <li><a href="#">T20</a></li>
                                        <li><a href="#">International One Day</a></li>
                                        <li><a href="#">Premium League</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div class="eventbDiv">
                                    <a href="#TennisMenu" data-toggle="collapse" aria-expanded="false">
                                        <i class="glyphicon glyphicon-duplicate my-giphyicon"></i>
                                        Tennis
                                    </a>
                                    <ul class="collapse list-unstyled" id="TennisMenu">
                                        <li><a href="#">Test</a></li>
                                        <li><a href="#">T20</a></li>
                                        <li><a href="#">International One Day</a></li>
                                        <li><a href="#">Premium League</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div class="eventbDiv">
                                    <a href="#TennisMenu" data-toggle="collapse" aria-expanded="false">
                                        <i class="glyphicon glyphicon-duplicate my-giphyicon"></i>
                                        Tennis
                                    </a>
                                    <ul class="collapse list-unstyled" id="TennisMenu">
                                        <li><a href="#">Test</a></li>
                                        <li><a href="#">T20</a></li>
                                        <li><a href="#">International One Day</a></li>
                                        <li><a href="#">Premium League</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div class="eventbDiv">
                                    <a href="#TennisMenu" data-toggle="collapse" aria-expanded="false">
                                        <i class="glyphicon glyphicon-duplicate my-giphyicon"></i>
                                        Tennis
                                    </a>
                                    <ul class="collapse list-unstyled" id="TennisMenu">
                                        <li><a href="#">Test</a></li>
                                        <li><a href="#">T20</a></li>
                                        <li><a href="#">International One Day</a></li>
                                        <li><a href="#">Premium League</a></li>
                                    </ul>
                                </div>
                            </li>


                        </ul>
                        <div class="tabcontent" id="prematch1">
                            <p>The future list will display here</p>
                        </div>
                        <div class="tabcontent" id="today1">
                            <p>Today's Matches will display here</p>
                        </div>
                        <div class="modal-body">

                        </div>

                    </div><!-- modal-content -->
                </div><!-- modal-dialog -->
            </div><!-- modal -->
        </div>

        <!----------------------------------- left Model Ending here ------------------------------->
        <div class="col-md-8 mypadding padding-center-pane">
            <div class="my-container-fluid middle-container">

                <div class="app-content content">
                    <div class="content-wrapper">



                        @RenderBody()
                        <br />
                    </div>
                </div>
            </div>
        </div>
        <!-- for the third partition in the  screen-->
        <div class="col-sm-2 visible-lg visible-md padding-right-pane">
            <div class="wrapper hidden-xs body my-scrollbar-settings">
                <!-- Sidebar Holder -->
                <nav id="sidebar">
                    <div class="sidebar-header">


                    </div>
                    <div class="card border-warning mb-3 card-width" id="myDiv">
                        <div class="card-header card-header-style"><strong>ScoreCard</strong></div>
                        <span class="topright" onclick="hide('myDiv')">&times</span>
                        <div class="card-body text-warning card-body-style">

                            <h5 class="card-title card-title-style" style="margin-left: 10%;">Pakistan vs India</h5>
                            <p class="card-text">Match Score will Be Display Here Match Score will Be Display Here Match Score will Be Display Here</p>


                        </div>
                    </div>
                    <div class="card border-warning mb-3 card-width" id="myDiv1">
                        <div class="card-header card-header-style"><strong>Bet Slip</strong></div>
                        <span class="topright" onclick="hide('myDiv1')">&times</span>
                        <div class="card-body text-warning card-body-style">

                            <h5 class="card-title card-title-style" style="margin-left: 10%;">Pakistan vs India</h5>

                            <h5 class="card-title" style="margin-left:5%;  color: #e49b1e;">Match Odds</h5>
                            <table style="margin-left: 5%;">
                                @*<tr><th>Match Odds</th></tr>*@
                                <tr>
                                    <th class="my-td">
                                        Selection
                                    </th>
                                    <th class="my-td">
                                        Team Name
                                    </th>
                                </tr>
                                <tr>
                                    <td class="my-td" style="width:45%;">Rate</td>
                                    <td><input type="text" name="Rate" id="Rate" value="7.50" class="my-button-betslip" readonly>
                                    <td>
                                </tr>
                                <tr>
                                    <td class="my-td">Stake</td>

                                    <td><input type="text" name="Stake" id="Stake" onfocus="this.value=''"  value="Stake"  class="my-button-betslip">
                                        <a href="javascript: void(0)" onClick="calc()"></a></td>
                                </tr>

                                <tr>
                                    <td class="my-td">Return</td>
                                    <td>
                                        <input type="text" name="Return" id="Return" onfocus="this.value=''" value="Total Return" class="my-button-betslip">
                                        <a href="javascript: void(0)" onClick="cal()"></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <button class="btn btn-dark betslip-button">Place Bet</button>
                                    </td>
                                </tr>
                            </table>
                        </div>


                        <h5 class="card-title card-title-style">Bet Title Here</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>


                    <div class="card-body text-warning card-body-style">
                        <h5 class="card-title card-title-style">Bet Title Here</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>

                    <div class="card-body text-warning card-body-style">
                        <h5 class="card-title card-title-style">Bet Title Here</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
            </div>
            <ul class="list-unstyled components"></ul>

            </nav>
            <!-- Page Content Holder -->

        </div>
    </div>

    </div>
    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <!-- Bootstrap Js CDN -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>





    <!-- Footer -->
    <footer class="page-footer font-small unique-color-dark" style="background-color: black">

        <div style="background-color: #d0a44d;">
            <div class="container">

                <!-- Grid row-->
                <div class="row py-4 d-flex align-items-center">

                    <!-- Grid column -->
                    <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                        <h4 class="mb-0">Get connected with us on social networks!</h4>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-6 col-lg-7 text-center text-md-right">

                        <!-- Facebook -->
                        <a class="fb-ic">
                            <i class="fa fa-facebook white-text mr-4"> </i>
                        </a>
                        <!-- Twitter -->
                        <a class="tw-ic">
                            <i class="fa fa-twitter white-text mr-4"> </i>
                        </a>
                        <!-- Google +-->
                        <a class="gplus-ic">
                            <i class="fa fa-google-plus white-text mr-4"> </i>
                        </a>
                        <!--Linkedin -->
                        <a class="li-ic">
                            <i class="fa fa-linkedin white-text mr-4"> </i>
                        </a>
                        <!--Instagram-->
                        <a class="ins-ic">
                            <i class="fa fa-instagram white-text"> </i>
                        </a>

                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Grid row-->

            </div>
        </div>

        <!-- Footer Links -->
        <div class="container text-center text-md-left mt-5" style="color: #d0a44d">

            <!-- Grid row -->
            <div class="row mt-3">

                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

                    <!-- Content -->
                    <h3 class="text-uppercase font-weight-bold">CapitalStreetFx</h3>
                    <hr style="width: 60px">
                    <p>
                        Here you can use rows and columns here to organize your footer content. Lorem ipsum dolor sit amet, consectetur
                        adipisicing elit.
                    </p>

                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

                    <!-- Links -->
                    <h3 class="text-uppercase font-weight-bold">Products</h3>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        <a href="#!" style="color: #d0a44d">Product1</a>
                    </p>
                    <p>
                        <a href="#!" style="color: #d0a44d">Product2</a>
                    </p>
                    <p>
                        <a href="#!" style="color: #d0a44d">Product3</a>
                    </p>
                    <p>
                        <a href="#!" style="color: #d0a44d">Product4</a>
                    </p>

                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

                    <!-- Links -->
                    <h3 class="text-uppercase font-weight-bold">Useful links</h3>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        <a href="#!" style="color: #d0a44d">Your Account</a>
                    </p>
                    <p>
                        <a href="#!" style="color: #d0a44d">Become an User</a>
                    </p>
                    <p>
                        <a href="#!" style="color: #d0a44d">Deposit</a>
                    </p>
                    <p>
                        <a href="#!" style="color: #d0a44d">Help</a>
                    </p>

                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

                    <!-- Links -->
                    <h3 class="text-uppercase font-weight-bold">Contact</h3>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        <a href="#" style="color: #d0a44d"> <i class="fa fa-home mr-3"></i> CapitalStreetFx, INDIA </a>
                    </p>
                    <p>
                        <a href="#" style="color: #d0a44d">  <i class="fa fa-envelope mr-3"></i> Suport@betzazz.com </a>
                    </p>
                    <p>
                        <a href="#" style="color: #d0a44d">  <i class="fa fa-phone mr-3"></i> + 01 111 111 11 </a>
                    </p>
                    <p>
                        <a href="#" style="color: #d0a44d">  <i class="fa fa-print mr-3"></i> + 01 111 111 11 </a>
                    </p>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->
        </div>
    </footer>
    <!--Login Popup Modal-->
    @using (Html.BeginForm("Login", "Events"))
    {
        <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h4 class="modal-title w-100 font-weight-bold">Exiting User Sign in here !</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body mx-3">
                        <div class="md-form mb-4">
                            <i class="glyphicon glyphicon-user"></i>
                            <label data-error="wrong" data-success="right" for="defaultForm-email">User id</label>
                            @Html.TextBoxFor(model => model.account.UserID, new { @class = "form-control validate", style = "width:100%;border-color:black;height:35px", placeholder = "Enter User id provided by Admin!" })

                        </div>

                        <div class="md-form mb-4">
                            <i class="glyphicon glyphicon-eye-open"></i>
                            <label data-error="wrong" data-success="right" for="defaultForm-pass" >Your password</label>
                            @Html.PasswordFor(model => model.account.Password, new { @class = "form-control validate", style = "width:100%;border-color:black;height:35px", placeholder = "Enter Password provided by Admin!" })

                        </div>

                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <input type="submit" value="Login" class="btn btn-success my-btn-login-signup"  />
                        @*<button class="btn btn-success" style="background-color:black;border-color:#d0a44d">Sign in</button>*@
                    </div>
                </div>
            </div>
        </div>
    }
    <!--End Login Popup Modal-->
    <!--Register Popup Modal-->
    @using (Html.BeginForm("SignUp", "Events"))
    {
        <div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h4 class="modal-title w-100 font-weight-bold">New User Sign Up here !</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body mx-3">
                        <div class="md-form mb-4">
                            <i class="glyphicon glyphicon-user" style="color:#ce870d"></i>
                            <label data-error="wrong" data-success="right" for="defaultForm-email">Your Name</label>
                            @*<input type="text" id="txtUserName" class="form-control validate" data-toggle="tooltip" title="Enter Display Name!">*@
                            @Html.TextBoxFor(model => model.account.Username, new { @class = "form-control validate", style = "width:100%;border-color:black;height:35px", placeholder = "Please Enter your Name!" })


                        </div>

                        <div>
                            <i class="glyphicon glyphicon-usd"></i>
                            <label data-error="wrong" data-success="right" for="defaultForm-email">Currency</label>
                            @Html.DropDownListFor(model=>model.account.currency,new List<SelectListItem>
                            {
                              new SelectListItem{Text="INR",Value="INR"},
                              new SelectListItem{Text="USD",Value="USD"},
                              new SelectListItem{Text="EUR",Value="EUR"},
                              new SelectListItem{Text="GBP",Value="GBP"},
                              new SelectListItem{Text="AED",Value="AED"},
                              new SelectListItem{Text="CAD",Value="CAD"},
                              new SelectListItem{Text="AUD",Value="AUD"}

                            },"---select Currency---",new { @class="form-control"})
                        </div>
                        <div class="md-form mb-4">
                            <i class="glyphicon glyphicon-envelope"></i>
                            <label data-error="wrong" data-success="right" for="defaultForm-email">Your Email</label>
                            @Html.PasswordFor(model => model.account.emailid, new { @class = "form-control validate", style = "width:100%;border-color:black;height:35px", placeholder = "Please enter your E-mail ID!" })
                            @*<input type="email" id="defaultForm-pass" class="form-control validate" data-toggle="tooltip" title="Enter Email for all required communications!">*@

                        </div>

                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <input type="submit" value="SignUp" class="btn btn-success my-btn-login-signup"  />
                        @*<button class="btn btn-success" style="background-color:black;border-color:#d0a44d">Sign Up</button>*@
                    </div>
                </div>
            </div>
        </div>
    }
        <!--End Register Popup Modal-->
        <script>
            $(document).ready(function () {
                $('[data-toggle="tooltip"]').tooltip();
            });
        </script>
        <!--Script for the left pane tabs Live,Future,Today-->
        <script>
            function openEvent(evt, eventName) {
                var i, tabcontent, tablinks;
                tabcontent = document.getElementsByClassName("tabcontent");
                for (i = 0; i < tabcontent.length; i++) {
                    tabcontent[i].style.display = "none";
                }
                tablinks = document.getElementsByClassName("tablinks");
                for (i = 0; i < tablinks.length; i++) {
                    tablinks[i].className = tablinks[i].className.replace(" active", "");
                }
                document.getElementById(eventName).style.display = "block";
                evt.currentTarget.className += " active";
            }
            // Get the element with id="defaultOpen" and click on it
            document.getElementById("defaultOpen").click();                  

        // ----------------To show the Bet slip----------------------
        function show(target) {
            document.getElementById(target).style.display ='block';
        }

        // ---------------------------for close button-----------------------------
        function hide(target) {
            document.getElementById(target).style.display = 'none';
        }
        // ---------------------------To calculate Bet Function--------------------
        $("#Rate,#Stake").keyup(function () {

            $('#Return').val($('#Rate').val() * $('#Stake').val());

        });
        $("#Rate,#Return").keyup(function () {

            $('#Stake').val($('#Return').val() / $('#Rate').val());

        });

    </script>



    </body>
</html>
