@using System.Data;
@using System.Data.SqlClient;
@using PagedList.Mvc;
@{
    ViewBag.Title = "Bets";
    Layout = "~/Views/_Betzazz.cshtml";
}

<div class="container-fluid middle-container">
    <h2 class="my-h2">Bets</h2>
    <div class="tab-setting-member">
        <div class="tab">
            <button class="tablinksProfile" style="width: 25%; border-style: inherit;" id="defaultOpenPersonal" onclick="openProfile(event, 'Active_Bets')">Active Bets</button>
            <button class="tablinksProfile" style="width: 25%; border-style: inherit;" onclick="openProfile(event, 'Bet_History')">Bet History</button>
            <button class="tablinksProfile" style="width: 25%; border-style: inherit;" onclick="openProfile(event, 'Won')">Won</button>
            <button class="tablinksProfile" style="width: 25%; border-style: inherit;" onclick="openProfile(event, 'Lose')">Lose</button>
        </div>
    </div>
    <div class="tabcontentProfile" id="Active_Bets">
        <h3>Live Bets</h3>
        <table class="table table-bordered table-setting table-responsive-sm">

            <thead>
                <tr>
                    <th>TX ID</th>
                    <th>Event ID</th>
                    <th>Bet Type</th>
                    <th>Amount</th>
                    <th>Result</th>
                    <th>Loss Profit</th>
                </tr>
            </thead>

            <tbody>
                @foreach (DataTable dt1 in ViewBag.ds2.Tables)
                {
                    foreach (DataRow dr1 in dt1.Rows)
                    {
                        <tr>
                            <td><a href="#">@dr1["TransectionId"]</a></td>
                            <td>@dr1["EventId"]</td>
                            <td>@dr1["BetType"]</td>
                            <td>@dr1["Amount"]</td>
                            <td>@dr1["Result"]</td>
                            <td>@dr1["LossProfit"]</td>
                        </tr>
                    }
                }
            </tbody>

        </table>
        

    </div>
    <div class="tabcontentProfile" id="Bet_History">
        <h3>Setteled Bets</h3>
        <table class="table table-bordered table-setting table-responsive">

            <thead>
                <tr>
                    <th>TX ID</th>
                    <th>Event ID</th>
                    <th>Bet Type</th>
                    <th>Amount</th>
                    <th>Result</th>
                    <th>Loss Profit</th>
                </tr>
            </thead>

            <tbody>
                @foreach (DataTable dt2 in ViewBag.ds1.Tables)
                {
                    foreach (DataRow dr2 in dt2.Rows)
                    {
                        <tr>
                            <td><a href="#">@dr2["TransectionId"]</a></td>
                            <td>@dr2["EventId"]</td>
                            <td>@dr2["BetType"]</td>
                            <td>@dr2["Amount"]</td>
                            <td>@dr2["Result"]</td>
                            <td>@dr2["LossProfit"]</td>
                        </tr>
                    }
                }
            </tbody>

        </table>
    </div>

    <div class="tabcontentProfile" id="Won">
        <h3>Won Bets</h3>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>TX ID</th>
                    <th>Event ID</th>
                    <th>Bet Type</th>
                    <th>Amount</th>
                    <th>Result</th>
                    <th>Loss Profit</th>
                </tr>
            </thead>

            <tbody>
                @foreach (DataTable dt1 in ViewBag.WB.Tables)
                {
                    foreach (DataRow dr1 in dt1.Rows)
                    {
                        <tr>
                            <td><a href="#">@dr1["TransectionId"]</a></td>
                            <td>@dr1["EventId"]</td>
                            <td>@dr1["BetType"]</td>
                            <td>@dr1["Amount"]</td>
                            <td>@dr1["Result"]</td>
                            <td>@dr1["LossProfit"]</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <div class="tabcontentProfile" id="Lose">
        <h3>Lose Bets</h3>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>TX ID</th>
                    <th>Event ID</th>
                    <th>Bet Type</th>
                    <th>Amount</th>
                    <th>Result</th>
                    <th>Loss Profit</th>
                </tr>
            </thead>

            <tbody>
                @foreach (DataTable dt1 in ViewBag.LB.Tables)
                {
                    foreach (DataRow dr1 in dt1.Rows)
                    {
                        <tr>
                            <td><a href="#">@dr1["TransectionId"]</a></td>
                            <td>@dr1["EventId"]</td>
                            <td>@dr1["BetType"]</td>
                            <td>@dr1["Amount"]</td>
                            <td>@dr1["Result"]</td>
                            <td>@dr1["LossProfit"]</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

</div>



<!--Script for the Bank tabs -->
<script>
    function openProfile(evt, eventName) {
        var i, tabcontentProfile, tablinksProfile;
        tabcontentProfile = document.getElementsByClassName("tabcontentProfile");
        for (i = 0; i < tabcontentProfile.length; i++) {
            tabcontentProfile[i].style.display = "none";
        }
        tablinksProfile = document.getElementsByClassName("tablinksProfile");
        for (i = 0; i < tablinksProfile.length; i++) {
            tablinksProfile[i].className = tablinksProfile[i].className.replace(" active", "");
        }
        document.getElementById(eventName).style.display = "block";
        evt.currentTarget.className += " active";
    }
    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpenPersonal").click();
</script>