
@{
    ViewBag.Title = "UserControl";
    Layout = "~/Views/_LayoutAdminPanel.cshtml";
}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="page-header">
            <h3 class="page-title"></h3>
        </div>
        <div class="card">
            <div class="card-body">
                
                <h4 class="" >User Control</h4>
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table id="order-listing" class="table">
                                <thead style="background:#ECC74D">
                                    <tr>
                                        <th>User Id</th>
                                        <th>User Name</th>
                                        <th>Login Id</th>
                                        <th>Email ID</th>
                                        <th>Currency</th>
                                        <th>Password</th>
                                        <th>Created Date</th>
                                        <th>Status</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in ViewBag.userdetails)
                                    {

                                        <tr>
                                            <td>
                                                @item.UserId
                                            </td>
                                            <td>
                                                @item.UserName
                                            </td>
                                            <td>
                                                @item.UserNameRandomGen
                                            </td>
                                            <td>
                                                @item.UserEmail
                                            </td>
                                            <td>
                                                @item.AccountCuerrcy
                                            </td>
                                            <td>
                                                @item.CreatePass
                                            </td>
                                            <td>
                                                @item.CreatedDate
                                            </td>
                                            <td>
                                                <label class="badge badge-success">Closed</label>
                                            </td>
                                            <td>
                                                <button class="btn btn-outline-primary">View</button>
                                            </td>



                                        </tr>

                                    }


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <!-- partial -->


    </div>
</div>

