
@{
    ViewBag.Title = "Cricket Upcoming Events";
    Layout = "~/Views/_Betzazz.cshtml";
}
@using betzazz1._1.Models
<div class="content-body">
    <!-- Revenue, Hit Rate & Deals -->
    <div class="row">
        <div class="col-lg-12">

            <div class="card inplay">
                @*This card for Cricket Inplay Events*@
                <h4 class="flex-row--title text-center">Up Coming Events</h4>
                <div class="card-body my-card-body">
                    <!--Event Name-->
                    <div class="col col--xs-8 col--sm-10 col--md-10 col--lg-11">
                        <span class="flex-row--title text-center "><h4 style="font-size:28px;font-weight:bold;margin:10px;">@MatchOdds.EventNAme</h4></span>
                        <span class=" flex-row--title text-right pull-right visible-lg"><h4 style="font-size:28px;font-weight:bold;margin:10px;">@MatchOdds.MarketTime</h4></span>
                    </div> 
                    <div class="col col--xs-8 col--sm-10 col--md-10 col--lg-11 visible-xs visible-sm">
                        <h4 style="font-size:28px;font-weight:bold;margin:10px;">@MatchOdds.MarketTime</h4>
                    </div>
                        <!--Match Odds Market-->
                        <div id="matchoddsMArket">
                            <div class="col col--xs-8 col--sm-10 col--md-4 col--lg-4 text-left eventbDiv Live-page-div-main" data-toggle="collapse" aria-expanded="false" data-target="#">
                                <span style="margin:5px;font-size:18px;font-weight:bold">@MatchOdds.MarketName</span>
                            </div>
                            @*<span class="caret"></span> <span></span>*@
                            <div id="#" class="col col--xs-8 col--sm-10 col--md-4 col--lg-4 text-left eventbDiv" style="height:33px">
                                @using (Html.BeginForm("btn1MatchOdds_Onclick", "PreMatch"))
                                {
                                    <div class="pull-left Live-btn-div">
                                        <span class="Live-Odds-Page-span">@MatchOdds.Team1</span>
                                        <button type="submit" value="btn1MatchOdds_Onclick" onclick="show('myDiv1'),show('myDivMobile')" class="pull-right Live-odds-btn">@MatchOdds.Odds1</button>
                                    </div>
                                }
                                    @*<div class="pull-right Live-btn-div" style="width:33%">
                <span class="Live-Odds-Page-span">@ViewBag.T3Name</span><button type="button" onclick="show('myDiv1')" class="pull-right Live-odds-btn">@ViewBag.OddsT31</button>
            </div>*@
                                    @using (Html.BeginForm("btn2MatchOdds_Onclick", "PreMatch"))
                                    {
                                        <div class="pull-right Live-btn-div">
                                            <span class="Live-Odds-Page-span">@MatchOdds.Team2</span>
                                            <button type="submit" value="btn2MatchOdds_Onclick" class="pull-right Live-odds-btn">@MatchOdds.Odds2</button>
                                        </div>

                                    }
                                </div>
                        </div>

                        <!--Team A Total Runs Market-->
                        <div>
                            <div class="col col--xs-8 col--sm-10 col--md-4 col--lg-4 text-left eventbDiv Live-page-div-main" data-toggle="collapse" aria-expanded="false" data-target="#">
                                <span style="margin:5px">@TowWintheToss.MarketName</span>
                            </div>
                            @*<span class="caret"></span> <span></span>*@
                            <div id="#" class="col col--xs-8 col--sm-10 col--md-4 col--lg-4 text-left eventbDiv" style="height:33px">
                                @using (Html.BeginForm("btn1ToWnToss_Onclick", "PreMatch"))
                                {
                                    <div class="pull-left Live-btn-div">
                                        <span class="Live-Odds-Page-span">@TowWintheToss.Team1</span>
                                        <button type="submit" onclick="show('myDiv1')" value="btn1ToWnToss_Onclick" class="pull-right Live-odds-btn">@TowWintheToss.Odds1</button>
                                    </div>
                                }
                                @using (Html.BeginForm("btn2ToWnToss_Onclick", "PreMatch"))
                                {
                                    <div class="pull-right Live-btn-div">
                                        <span class="Live-Odds-Page-span">@TowWintheToss.Team2</span>
                                        <button type="submit" onclick="show('myDiv1')" value="btn2ToWnToss_Onclick" class="pull-right Live-odds-btn">@TowWintheToss.Odds2</button>
                                    </div>
                                }
                                </div>
                        </div>


                        <!--Team B Total Runs Market-->
                        <div>
                            <div class="col col--xs-8 col--sm-10 col--md-4 col--lg-4 text-left eventbDiv Live-page-div-main" data-toggle="collapse" aria-expanded="false" data-target="#">
                                <span style="margin:5px">@DrawNoBet.MarketName</span>
                            </div>
                            @*<span class="caret"></span> <span></span>*@
                            <div id="#" class="col col--xs-8 col--sm-10 col--md-4 col--lg-4 text-left eventbDiv" style="height:33px">
                                @using (Html.BeginForm("btn1DRNT_Onclick", "PreMatch"))
                                {
                                    <div class="pull-left Live-btn-div">
                                        <span class="Live-Odds-Page-span">@DrawNoBet.Team1</span>
                                        <button type="submit" onclick="show('myDiv1')" value="btn1DRNT_Onclick" class="pull-right Live-odds-btn">@DrawNoBet.Odds1</button>
                                    </div>
                                }
                                @using (Html.BeginForm("btn2DRNT_Onclick", "PreMatch"))
                                {
                                    <div class="pull-right Live-btn-div">
                                        <span class="Live-Odds-Page-span">@DrawNoBet.Team2</span>
                                        <button type="submit" onclick="show('myDiv1')" value="btn2DRNT_Onclick" class="pull-right Live-odds-btn">@DrawNoBet.Odds2</button>
                                    </div>
                                }
                                </div>
                        </div>

                        <!--Team B Total Runs Market-->
                        <div>
                            <div class="col col--xs-8 col--sm-10 col--md-4 col--lg-4 text-left eventbDiv Live-page-div-main" data-toggle="collapse" aria-expanded="false" data-target="#">
                                <span style="margin:5px">@DBLChance.MarketName </span>
                            </div>
                            @*<span class="caret"></span> <span></span>*@
                            <div id="#" class="col col--xs-8 col--sm-10 col--md-4 col--lg-4 text-left eventbDiv" style="height:33px">
                                @using (Html.BeginForm("btn1DBL_Onclick", "PreMatch"))
                                {
                                    <div class="pull-left Live-btn-div">
                                        <span class="Live-Odds-Page-span">@DBLChance.Team1</span>
                                        <button type="submit"   value="btn1DBL_Onclick" onclick="show('myDiv1')" class="pull-right Live-odds-btn">@DBLChance.Odds1</button>
                                    </div>
                                }
                                @using (Html.BeginForm("btn2DBL_Onclick", "PreMatch"))
                                {
                                    <div class="pull-right Live-btn-div">
                                        <span class="Live-Odds-Page-span"> @DBLChance.Team2</span>
                                        <button type="submit"  value="btn2DBL_Onclick" onclick="show('myDiv1')" class="pull-right Live-odds-btn">@DBLChance.Odds2</button>
                                    </div>
                                }
                                    @*<div class="pull-right Live-btn-div" style="width:33%">
                <span class="Live-Odds-Page-span"> @ViewBag.DBlT2Name</span><button type="button" onclick="show('myDiv1')" class="pull-right Live-odds-btn">@ViewBag.OddsDBLT2</button>
            </div>*@
                                </div>
                        </div>

                        <!--Team B Total Runs Market-->
                        <div>
                            <div class="col col--xs-8 col--sm-10 col--md-4 col--lg-4 text-left eventbDiv Live-page-div-main" data-toggle="collapse" aria-expanded="false" data-target="#">
                                <span style="margin:5px">Team B Total Runs</span>
                            </div>
                            @*<span class="caret"></span> <span></span>*@
                            <div id="#" class="col col--xs-8 col--sm-10 col--md-4 col--lg-4 text-left eventbDiv" style="height:33px">
                                <div class="pull-left Live-btn-div">
                                    <span class="Live-Odds-Page-span">INDIA</span><button type="button" onclick="show('myDiv1')" class="pull-right Live-odds-btn">1.85</button>
                                </div>

                                <div class="pull-right Live-btn-div">
                                    <span class="Live-Odds-Page-span">ENGLAND</span><button type="button" onclick="show('myDiv1')" class="pull-right Live-odds-btn">1.85</button>
                                </div>
                            </div>
                        </div>












                    </div>
            </div>
        </div>
    </div>
</div>
